ion-title {
    text-align: center;
}

.crystals-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 5px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 5px;
}

.row-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.result-message {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

ion-icon {
    font-size: 20px;
}