<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ADIVINA EL CAMINO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-nav type="game" />
  <div class="crystals-container">
    <div class="row" *ngFor="let row of crystals">
      <app-crystal *ngFor="let crystal of row.values; index as i" [index]="i" [rowId]="row.rowId" [tempered]="!!crystal" [initState]="initState" (crushedCrystal)="onCrushedCrystal($event)" [pressable]="row.pressable" />
    </div>
  </div>

  <div class="row-container" *ngIf="resultMessage && resultMessage !== 'Necesita más dinero para seguir jugando'">
    <ion-button (click)="resetGame()">
      Volver a jugar
    </ion-button>
  </div>

  <div class="row-container">
    <span *ngIf="resultMessage" class="result-message" [ngStyle]="{'color': colorMessage}">
      <span>
        {{ resultMessage }}
      </span>
      <ion-icon name="cash" [ngStyle]="{'color': colorMessage}" />
    </span>
  </div>
</ion-content>
