<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ENCUENTRA EL DIAMANTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-nav type="game" />
  <div class="cards-container">
    <app-card *ngFor="let card of cards; index as i" [index]="i" [winningIndex]="winningIndex" [revealed]="revealed"
    (cardClicked)="onPressCard($event)"
    >
    </app-card>
  </div>
  <div *ngIf="resultMessage && resultMessage !== 'Necesita más dinero para seguir jugando'" class="row-container" >
    <ion-button (click)="refreshWI()">
      Volver a jugar
    </ion-button>
  </div>
  <div *ngIf="resultMessage" class="row-container">
    <span class="result-message" [ngStyle]="{'color': colorMessage}">
      <span>
        {{ resultMessage }}
      </span>
      <ion-icon name="cash" [ngStyle]="{'color': colorMessage}" />
    </span>
  </div>
</ion-content>
