<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>DEUDAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-nav type="game" />
  <div class="debts-container">
    <span *ngIf="!debts.length" >
      No tiene deudas pendientes
    </span>
    <ion-card class="debt-card" *ngFor="let debt of debts; index as i">
      <div class="debt-row-card">
        <span>
          {{ debt }}
        </span>
        <ion-icon name="cash" />
      </div>
      <ion-button fill="outline" color="danger" [disabled]="debt > money" (click)="payDebt(i)">
        Pagar
      </ion-button>
    </ion-card>
  </div>
  <div class="row-container">
    <span *ngIf="resultMessage" [ngStyle]="{'color': colorMessage}">
      {{ resultMessage }}
    </span>
  </div>
</ion-content>
