<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INICIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-nav type="home" />
  <div class="cards-container">
    <div class="row-container">
      <ion-card class="card" [routerLink]="['/find-the-diamond']">
        <ion-icon name="diamond"></ion-icon>
        <ion-card-title>
          Encuentra el diamante
        </ion-card-title>
      </ion-card>
      <ion-card class="card" [routerLink]="['/guess-the-way']">
        <ion-icon name="map"></ion-icon>
        <ion-card-title>
          Adivina el camino
        </ion-card-title>
      </ion-card>
    </div>
  </div>
</ion-content>
