<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INICIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-nav type="home" />
  <div class="cards-container">
    <!-- <div class="row-container" >
      <ion-card class="card" [routerLink]="['/russian-roulette']">
        <ion-icon name="skull"></ion-icon>
        <ion-card-title>
          Ruleta rusa
        </ion-card-title>
      </ion-card>
    </div> -->
    <div class="row-container">
      <ion-card class="card" [routerLink]="['/find-the-diamond']">
        <ion-icon name="diamond"></ion-icon>
        <ion-card-title>
          Encuentra el diamante
        </ion-card-title>
      </ion-card>
      <ion-card class="card" [routerLink]="['/guess-the-way']">
        <ion-icon name="map"></ion-icon>
        <ion-card-title>
          Adivina el camino
        </ion-card-title>
      </ion-card>
    </div>
    <div class="row-container">
      <ion-card class="card" [routerLink]="['/debts']">
        <ion-icon name="wallet"></ion-icon>
        <ion-card-title>
          Deudas
        </ion-card-title>
      </ion-card>
      <ion-card class="card" [routerLink]="['/loans']">
        <ion-icon name="journal"></ion-icon>
        <ion-card-title>
          Prestamos
        </ion-card-title>
      </ion-card>
    </div>
    <div class="row-container">
      <ion-card class="card" [routerLink]="['/ranking']">
        <ion-icon name="people"></ion-icon>
        <ion-card-title>
          Top
        </ion-card-title>
      </ion-card>
      <ion-card class="card" [routerLink]="['/settings']">
        <ion-icon name="settings"></ion-icon>
        <ion-card-title>
          Ajustes
        </ion-card-title>
      </ion-card>
    </div>
  </div>
</ion-content>
